In [174]:
import pandas as pd

pd.set_option('display.max_columns', None)

In [175]:
roster = pd.read_csv('2023-2024/23-24-Roster.csv')
roster_pg = pd.read_csv('2023-2024/23-24-PerGame.csv')
to_pg = pd.read_csv('2023-2024/23-24-PerGameTeam&OpponentStats.csv')
results = pd.read_csv('2023-2024/23-24-ScheduleAndResults.csv')
log = pd.read_csv('2023-2024/23-24-BasicGameLog.csv')

In [176]:
roster

,Unnamed: 0,Player,#,Class,Pos,Height,Weight,Hometown,High School,RSCI Top 100,Summary
0,0,Terrence Shannon,0,SR,G,6-6,210.0,"Chicago, IL",Lincoln Park HS,81 (2019),"23.0 Pts, 4.0 Reb, 2.3 Ast"
1,1,Marcus Domask,3,SR,F,6-6,215.0,"Waupun, WI",Waupun HS,NaN,"15.9 Pts, 5.0 Reb, 3.9 Ast"
2,2,Coleman Hawkins,33,SR,F,6-10,200.0,"Sacramento, CA",Prolific Prep,NaN,"12.1 Pts, 6.1 Reb, 2.7 Ast"
3,3,Quincy Guerrier,13,SR,F,6-7,220.0,"Montreal, Canada",Thetford Academy,NaN,"9.6 Pts, 6.1 Reb, 0.3 Ast"
4,4,Ty Rodgers,20,SO,G,6-6,200.0,"Saginaw, MI",Grand Blanc (MI); Thornton Township (IL),57 (2022),"6.2 Pts, 5.3 Reb, 2.0 Ast"
5,5,Dain Dainja,42,JR,F,6-9,270.0,"Brooklyn Park, MN",Park Center HS,70 (2020),"6.1 Pts, 3.6 Reb, 0.2 Ast"
6,6,Luke Goode,10,JR,G,6-7,200.0,"Fort Wayne, IN",Homestead (IN),98 (2021),"5.7 Pts, 3.6 Reb, 0.6 Ast"
7,7,Justin Harmon,4,SR,G,6-4,180.0,"Chicago, IL",Curie (IL),NaN,"5.6 Pts, 2.7 Reb, 1.1 Ast"
8,8,Dra Gibbs-Lawhorn,2,FR,G,6-1,185.0,"Lafayette, IN",McCutcheon (IN); Real Salt Lake Academy (UT); ...,NaN,"2.4 Pts, 0.9 Reb, 0.4 Ast"
9,9,Amani Hansberry,35,FR,F,6-8,240.0,"Baltimore, MD",Mount Saint Joseph (MD),58 (2023),"2.4 Pts, 2.1 Reb, 0.3 Ast"
10,10,Niccolo Moretti,11,FR,G,6-1,170.0,"Bologna, Italy",DME Academy (FL); NBA Global Academy (Australia),NaN,"1.5 Pts, 0.8 Reb, 0.6 Ast"
11,11,AJ Redd,5,SO,G,6-3,170.0,"Chicago, IL",St. Ignatius (IL),NaN,"0.3 Pts, 0.2 Reb, 0.0 Ast"
12,12,Max Williams,25,JR,G,6-2,190.0,"Chicago, IL",IMG Academy,NaN,"0.3 Pts, 0.3 Reb, 0.0 Ast"
13,13,Sencire Harris,1,SO,G,6-4,NaN,NaN,NaN,86 (2022),NaN
14,14,Keaton Kutcher,22,JR,G,6-2,NaN,NaN,NaN,NaN,NaN

In [177]:
roster = roster.drop(columns=['Unnamed: 0'])
roster

,Player,#,Class,Pos,Height,Weight,Hometown,High School,RSCI Top 100,Summary
0,Terrence Shannon,0,SR,G,6-6,210.0,"Chicago, IL",Lincoln Park HS,81 (2019),"23.0 Pts, 4.0 Reb, 2.3 Ast"
1,Marcus Domask,3,SR,F,6-6,215.0,"Waupun, WI",Waupun HS,NaN,"15.9 Pts, 5.0 Reb, 3.9 Ast"
2,Coleman Hawkins,33,SR,F,6-10,200.0,"Sacramento, CA",Prolific Prep,NaN,"12.1 Pts, 6.1 Reb, 2.7 Ast"
3,Quincy Guerrier,13,SR,F,6-7,220.0,"Montreal, Canada",Thetford Academy,NaN,"9.6 Pts, 6.1 Reb, 0.3 Ast"
4,Ty Rodgers,20,SO,G,6-6,200.0,"Saginaw, MI",Grand Blanc (MI); Thornton Township (IL),57 (2022),"6.2 Pts, 5.3 Reb, 2.0 Ast"
5,Dain Dainja,42,JR,F,6-9,270.0,"Brooklyn Park, MN",Park Center HS,70 (2020),"6.1 Pts, 3.6 Reb, 0.2 Ast"
6,Luke Goode,10,JR,G,6-7,200.0,"Fort Wayne, IN",Homestead (IN),98 (2021),"5.7 Pts, 3.6 Reb, 0.6 Ast"
7,Justin Harmon,4,SR,G,6-4,180.0,"Chicago, IL",Curie (IL),NaN,"5.6 Pts, 2.7 Reb, 1.1 Ast"
8,Dra Gibbs-Lawhorn,2,FR,G,6-1,185.0,"Lafayette, IN",McCutcheon (IN); Real Salt Lake Academy (UT); ...,NaN,"2.4 Pts, 0.9 Reb, 0.4 Ast"
9,Amani Hansberry,35,FR,F,6-8,240.0,"Baltimore, MD",Mount Saint Joseph (MD),58 (2023),"2.4 Pts, 2.1 Reb, 0.3 Ast"
10,Niccolo Moretti,11,FR,G,6-1,170.0,"Bologna, Italy",DME Academy (FL); NBA Global Academy (Australia),NaN,"1.5 Pts, 0.8 Reb, 0.6 Ast"
11,AJ Redd,5,SO,G,6-3,170.0,"Chicago, IL",St. Ignatius (IL),NaN,"0.3 Pts, 0.2 Reb, 0.0 Ast"
12,Max Williams,25,JR,G,6-2,190.0,"Chicago, IL",IMG Academy,NaN,"0.3 Pts, 0.3 Reb, 0.0 Ast"
13,Sencire Harris,1,SO,G,6-4,NaN,NaN,NaN,86 (2022),NaN
14,Keaton Kutcher,22,JR,G,6-2,NaN,NaN,NaN,NaN,NaN

In [178]:
roster.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Player        15 non-null     object
 1   #             15 non-null     int64
 2   Class         15 non-null     object
 3   Pos           15 non-null     object
 4   Height        15 non-null     object
 5   Weight        13 non-null     float64
 6   Hometown      13 non-null     object
 7   High School   13 non-null     object
 8   RSCI Top 100  6 non-null      object
 9   Summary       13 non-null     object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.3+ KB

In [179]:
roster.drop(columns = 'Summary', axis =1)

,Player,#,Class,Pos,Height,Weight,Hometown,High School,RSCI Top 100
0,Terrence Shannon,0,SR,G,6-6,210.0,"Chicago, IL",Lincoln Park HS,81 (2019)
1,Marcus Domask,3,SR,F,6-6,215.0,"Waupun, WI",Waupun HS,NaN
2,Coleman Hawkins,33,SR,F,6-10,200.0,"Sacramento, CA",Prolific Prep,NaN
3,Quincy Guerrier,13,SR,F,6-7,220.0,"Montreal, Canada",Thetford Academy,NaN
4,Ty Rodgers,20,SO,G,6-6,200.0,"Saginaw, MI",Grand Blanc (MI); Thornton Township (IL),57 (2022)
5,Dain Dainja,42,JR,F,6-9,270.0,"Brooklyn Park, MN",Park Center HS,70 (2020)
6,Luke Goode,10,JR,G,6-7,200.0,"Fort Wayne, IN",Homestead (IN),98 (2021)
7,Justin Harmon,4,SR,G,6-4,180.0,"Chicago, IL",Curie (IL),NaN
8,Dra Gibbs-Lawhorn,2,FR,G,6-1,185.0,"Lafayette, IN",McCutcheon (IN); Real Salt Lake Academy (UT); ...,NaN
9,Amani Hansberry,35,FR,F,6-8,240.0,"Baltimore, MD",Mount Saint Joseph (MD),58 (2023)
10,Niccolo Moretti,11,FR,G,6-1,170.0,"Bologna, Italy",DME Academy (FL); NBA Global Academy (Australia),NaN
11,AJ Redd,5,SO,G,6-3,170.0,"Chicago, IL",St. Ignatius (IL),NaN
12,Max Williams,25,JR,G,6-2,190.0,"Chicago, IL",IMG Academy,NaN
13,Sencire Harris,1,SO,G,6-4,NaN,NaN,NaN,86 (2022)
14,Keaton Kutcher,22,JR,G,6-2,NaN,NaN,NaN,NaN

In [180]:
roster.dtypes
#shows data types within roster as shown below like Class:, Position:, etc.

Player           object
#                 int64
Class            object
Pos              object
Height           object
Weight          float64
Hometown         object
High School      object
RSCI Top 100     object
Summary          object
dtype: object

In [181]:
roster.isna().sum()
#shows all of the null values wihtin the data types

Player          0
#               0
Class           0
Pos             0
Height          0
Weight          2
Hometown        2
High School     2
RSCI Top 100    9
Summary         2
dtype: int64

In [182]:
roster_pg = roster_pg.drop(columns=["Unnamed: 0", "Rk"])
roster_pg

#deletes the unwatned columns listed

,Player,G,GS,MP,FG,FGA,FG%,2P,2PA,2P%,3P,3PA,3P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Terrence Shannon,32,31,33.9,6.8,14.4,0.475,4.4,7.8,0.573,2.4,6.7,0.362,6.9,8.6,0.801,0.8,3.2,4.0,2.3,1.0,0.9,2.0,2.2,23.0
1,Marcus Domask,38,38,34.5,5.7,12.6,0.453,4.6,8.9,0.516,1.1,3.6,0.297,3.4,3.9,0.872,1.1,3.9,5.0,3.9,0.4,0.3,2.3,1.3,15.9
2,Coleman Hawkins,35,35,31.6,4.1,9.1,0.451,2.4,4.5,0.535,1.7,4.6,0.369,2.2,2.7,0.792,1.4,4.7,6.1,2.7,1.5,1.1,1.6,2.6,12.1
3,Quincy Guerrier,38,38,24.1,3.3,7.0,0.476,2.2,4.0,0.553,1.1,3.0,0.374,1.7,3.1,0.569,1.7,4.4,6.1,0.3,0.3,0.3,0.9,1.8,9.6
4,Ty Rodgers,38,38,22.7,2.6,4.9,0.527,2.6,4.9,0.527,0.0,0.0,NaN,1.0,1.7,0.585,2.3,3.0,5.3,2.0,0.4,0.4,1.3,1.7,6.2
5,Dain Dainja,38,3,10.8,2.7,4.0,0.669,2.7,4.0,0.669,0.0,0.0,NaN,0.8,1.7,0.477,1.5,2.1,3.6,0.2,0.2,0.6,0.7,1.1,6.1
6,Luke Goode,38,7,20.1,1.9,4.7,0.397,0.3,0.6,0.455,1.6,4.1,0.389,0.4,0.6,0.652,1.1,2.5,3.6,0.6,0.3,0.1,0.5,1.8,5.7
7,Justin Harmon,38,0,18.8,1.9,4.8,0.407,1.4,2.9,0.473,0.6,1.9,0.306,1.1,1.2,0.915,0.9,1.8,2.7,1.1,0.4,0.2,0.7,1.6,5.6
8,Dra Gibbs-Lawhorn,28,0,7.1,0.9,2.7,0.342,0.6,1.4,0.450,0.3,1.3,0.222,0.2,0.3,0.667,0.3,0.6,0.9,0.4,0.1,0.1,0.4,1.0,2.4
9,Amani Hansberry,19,0,7.4,1.0,2.2,0.452,0.8,1.5,0.517,0.2,0.7,0.308,0.2,0.3,0.667,0.6,1.5,2.1,0.3,0.2,0.2,0.1,1.2,2.4
10,Niccolo Moretti,18,0,5.9,0.4,0.7,0.667,0.3,0.5,0.667,0.1,0.2,0.667,0.5,0.8,0.643,0.1,0.7,0.8,0.6,0.1,0.0,0.5,0.4,1.5
11,AJ Redd,10,0,2.0,0.1,0.2,0.500,0.1,0.2,0.500,0.0,0.0,NaN,0.1,0.4,0.250,0.0,0.2,0.2,0.0,0.0,0.0,0.2,0.1,0.3
12,Max Williams,10,0,1.3,0.0,0.2,0.000,0.0,0.1,0.000,0.0,0.1,0.000,0.3,0.4,0.750,0.1,0.2,0.3,0.0,0.0,0.0,0.2,0.0,0.3

In [183]:
roster_pg.dtypes
#loads the pergame data types the colummns tracked

Player     object
G           int64
GS          int64
MP        float64
FG        float64
FGA       float64
FG%       float64
2P        float64
2PA       float64
2P%       float64
3P        float64
3PA       float64
3P%       float64
FT        float64
FTA       float64
FT%       float64
ORB       float64
DRB       float64
TRB       float64
AST       float64
STL       float64
BLK       float64
TOV       float64
PF        float64
PTS       float64
dtype: object

In [184]:
roster_pg.isna().sum()

Player    0
G         0
GS        0
MP        0
FG        0
FGA       0
FG%       0
2P        0
2PA       0
2P%       0
3P        0
3PA       0
3P%       3
FT        0
FTA       0
FT%       0
ORB       0
DRB       0
TRB       0
AST       0
STL       0
BLK       0
TOV       0
PF        0
PTS       0
dtype: int64

In [185]:
#on - merges data sets pnm that speodc value
#how = inner most common merge doesnt drop columns 
df_roster = pd.merge(roster, roster_pg, on = "Player", how="inner")
#df_roster = roster.drop(columns = "Pos_y")
#df_roster.rename(columns={"Pos_x": "Pos"}, inplace=True)
df_roster

,Player,#,Class,Pos,Height,Weight,Hometown,High School,RSCI Top 100,Summary,G,GS,MP,FG,FGA,FG%,2P,2PA,2P%,3P,3PA,3P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Terrence Shannon,0,SR,G,6-6,210.0,"Chicago, IL",Lincoln Park HS,81 (2019),"23.0 Pts, 4.0 Reb, 2.3 Ast",32,31,33.9,6.8,14.4,0.475,4.4,7.8,0.573,2.4,6.7,0.362,6.9,8.6,0.801,0.8,3.2,4.0,2.3,1.0,0.9,2.0,2.2,23.0
1,Marcus Domask,3,SR,F,6-6,215.0,"Waupun, WI",Waupun HS,NaN,"15.9 Pts, 5.0 Reb, 3.9 Ast",38,38,34.5,5.7,12.6,0.453,4.6,8.9,0.516,1.1,3.6,0.297,3.4,3.9,0.872,1.1,3.9,5.0,3.9,0.4,0.3,2.3,1.3,15.9
2,Coleman Hawkins,33,SR,F,6-10,200.0,"Sacramento, CA",Prolific Prep,NaN,"12.1 Pts, 6.1 Reb, 2.7 Ast",35,35,31.6,4.1,9.1,0.451,2.4,4.5,0.535,1.7,4.6,0.369,2.2,2.7,0.792,1.4,4.7,6.1,2.7,1.5,1.1,1.6,2.6,12.1
3,Quincy Guerrier,13,SR,F,6-7,220.0,"Montreal, Canada",Thetford Academy,NaN,"9.6 Pts, 6.1 Reb, 0.3 Ast",38,38,24.1,3.3,7.0,0.476,2.2,4.0,0.553,1.1,3.0,0.374,1.7,3.1,0.569,1.7,4.4,6.1,0.3,0.3,0.3,0.9,1.8,9.6
4,Ty Rodgers,20,SO,G,6-6,200.0,"Saginaw, MI",Grand Blanc (MI); Thornton Township (IL),57 (2022),"6.2 Pts, 5.3 Reb, 2.0 Ast",38,38,22.7,2.6,4.9,0.527,2.6,4.9,0.527,0.0,0.0,NaN,1.0,1.7,0.585,2.3,3.0,5.3,2.0,0.4,0.4,1.3,1.7,6.2
5,Dain Dainja,42,JR,F,6-9,270.0,"Brooklyn Park, MN",Park Center HS,70 (2020),"6.1 Pts, 3.6 Reb, 0.2 Ast",38,3,10.8,2.7,4.0,0.669,2.7,4.0,0.669,0.0,0.0,NaN,0.8,1.7,0.477,1.5,2.1,3.6,0.2,0.2,0.6,0.7,1.1,6.1
6,Luke Goode,10,JR,G,6-7,200.0,"Fort Wayne, IN",Homestead (IN),98 (2021),"5.7 Pts, 3.6 Reb, 0.6 Ast",38,7,20.1,1.9,4.7,0.397,0.3,0.6,0.455,1.6,4.1,0.389,0.4,0.6,0.652,1.1,2.5,3.6,0.6,0.3,0.1,0.5,1.8,5.7
7,Justin Harmon,4,SR,G,6-4,180.0,"Chicago, IL",Curie (IL),NaN,"5.6 Pts, 2.7 Reb, 1.1 Ast",38,0,18.8,1.9,4.8,0.407,1.4,2.9,0.473,0.6,1.9,0.306,1.1,1.2,0.915,0.9,1.8,2.7,1.1,0.4,0.2,0.7,1.6,5.6
8,Dra Gibbs-Lawhorn,2,FR,G,6-1,185.0,"Lafayette, IN",McCutcheon (IN); Real Salt Lake Academy (UT); ...,NaN,"2.4 Pts, 0.9 Reb, 0.4 Ast",28,0,7.1,0.9,2.7,0.342,0.6,1.4,0.450,0.3,1.3,0.222,0.2,0.3,0.667,0.3,0.6,0.9,0.4,0.1,0.1,0.4,1.0,2.4
9,Amani Hansberry,35,FR,F,6-8,240.0,"Baltimore, MD",Mount Saint Joseph (MD),58 (2023),"2.4 Pts, 2.1 Reb, 0.3 Ast",19,0,7.4,1.0,2.2,0.452,0.8,1.5,0.517,0.2,0.7,0.308,0.2,0.3,0.667,0.6,1.5,2.1,0.3,0.2,0.2,0.1,1.2,2.4
10,Niccolo Moretti,11,FR,G,6-1,170.0,"Bologna, Italy",DME Academy (FL); NBA Global Academy (Australia),NaN,"1.5 Pts, 0.8 Reb, 0.6 Ast",18,0,5.9,0.4,0.7,0.667,0.3,0.5,0.667,0.1,0.2,0.667,0.5,0.8,0.643,0.1,0.7,0.8,0.6,0.1,0.0,0.5,0.4,1.5
11,AJ Redd,5,SO,G,6-3,170.0,"Chicago, IL",St. Ignatius (IL),NaN,"0.3 Pts, 0.2 Reb, 0.0 Ast",10,0,2.0,0.1,0.2,0.500,0.1,0.2,0.500,0.0,0.0,NaN,0.1,0.4,0.250,0.0,0.2,0.2,0.0,0.0,0.0,0.2,0.1,0.3
12,Max Williams,25,JR,G,6-2,190.0,"Chicago, IL",IMG Academy,NaN,"0.3 Pts, 0.3 Reb, 0.0 Ast",10,0,1.3,0.0,0.2,0.000,0.0,0.1,0.000,0.0,0.1,0.000,0.3,0.4,0.750,0.1,0.2,0.3,0.0,0.0,0.0,0.2,0.0,0.3

In [186]:
to_pg = to_pg.drop(columns =["MP", "Unnamed: 0", "Unnamed: 1", "G"])
to_pg

,FG,FGA,FG%,2P,2PA,2P%,3P,3PA,3P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,29.1,62.0,.469,20.7,38.1,.544,8.3,23.9,.349,16.9,23.0,.736,12.8,28.1,40.9,13.3,4.4,3.8,10.6,15.2,83.4
1,29th,39th,57th,47th,122nd,49th,88th,95th,127th,21st,26th,101st,29th,17th,8th,160th,351st,116th,291st,314th,10th
2,27.5,63.6,.432,21.3,45.6,.468,6.1,18.0,.341,12.3,17.0,.721,10.0,23.1,33.1,12.1,5.7,3.2,8.7,18.6,73.3
3,308th,346th,145th,346th,361st,45th,41st,25th,222nd,93rd,89th,202nd,165th,58th,82nd,203rd,72nd,157th,4th,316th,230th

In [187]:
to_pg.insert(0, 'Type', ['Team', 'Team-Rank', 'Opponent', 'Opponent-Rank'])
to_pg

,Type,FG,FGA,FG%,2P,2PA,2P%,3P,3PA,3P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Team,29.1,62.0,.469,20.7,38.1,.544,8.3,23.9,.349,16.9,23.0,.736,12.8,28.1,40.9,13.3,4.4,3.8,10.6,15.2,83.4
1,Team-Rank,29th,39th,57th,47th,122nd,49th,88th,95th,127th,21st,26th,101st,29th,17th,8th,160th,351st,116th,291st,314th,10th
2,Opponent,27.5,63.6,.432,21.3,45.6,.468,6.1,18.0,.341,12.3,17.0,.721,10.0,23.1,33.1,12.1,5.7,3.2,8.7,18.6,73.3
3,Opponent-Rank,308th,346th,145th,346th,361st,45th,41st,25th,222nd,93rd,89th,202nd,165th,58th,82nd,203rd,72nd,157th,4th,316th,230th

In [188]:
results = results.drop(columns=['G', 'Unnamed: 0', 'Unnamed: 5', 'OT'])
results['Home Game'] = results['Arena'] == 'State Farm Center'
results = results.drop(columns='Arena')
results.rename(columns={'Unnamed: 9' : 'Result'}, inplace=True)
results

,Date,Time,Type,Opponent,Conf,SRS,Result,Tm,Opp,W,L,Streak,Home Game
0,"Mon, Nov 6, 2023",8:00p,REG,Eastern Illinois,OVC,-11.60,W,80,52,1,0,W 1,True
1,"Fri, Nov 10, 2023",8:00p,REG,Oakland,Horizon,2.02,W,64,53,2,0,W 2,True
2,"Tue, Nov 14, 2023",8:00p,REG,Marquette(4),Big East,19.27,L,64,71,2,1,L 1,True
3,"Fri, Nov 17, 2023",8:00p,REG,Valparaiso,MVC,-8.25,W,87,64,3,1,W 1,True
4,"Sun, Nov 19, 2023",8:00p,REG,Southern,SWAC,-8.74,W,88,60,4,1,W 2,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,"Sun, Mar 17, 2024",3:30p,CTOURN,Wisconsin,Big Ten,16.01,W,93,87,26,8,W 4,False
74,"Thu, Mar 21, 2024",3:10p,NCAA,Morehead State,OVC,0.51,W,85,69,27,8,W 5,False
75,"Sat, Mar 23, 2024",8:40p,NCAA,Duquesne,A-10,7.35,W,89,63,28,8,W 6,False
76,"Thu, Mar 28, 2024",10:09p,NCAA,Iowa State(8),Big 12,22.30,W,72,69,29,8,W 7,False
77,"Sat, Mar 30, 2024",6:09p,NCAA,Connecticut(1),Big East,26.70,L,52,77,29,9,L 1,False

In [189]:
streaks = results['Streak'].str.extract(r'([WL]) (\d+)')

# Ensure NaNs are replaced with 0 before converting to int
streaks[1] = streaks[1].fillna(0).astype(int)

# Create Win Streak and Lose Streak columns
results['Win Streak'] = (streaks[0] == 'W') * streaks[1]
results['Lose Streak'] = (streaks[0] == 'L') * streaks[1]

# Drop the 'Streak' column safely
results = results.drop(columns='Streak', errors='ignore')

# Print the results to verify
results

,Date,Time,Type,Opponent,Conf,SRS,Result,Tm,Opp,W,L,Home Game,Win Streak,Lose Streak
0,"Mon, Nov 6, 2023",8:00p,REG,Eastern Illinois,OVC,-11.60,W,80,52,1,0,True,1,0
1,"Fri, Nov 10, 2023",8:00p,REG,Oakland,Horizon,2.02,W,64,53,2,0,True,2,0
2,"Tue, Nov 14, 2023",8:00p,REG,Marquette(4),Big East,19.27,L,64,71,2,1,True,0,1
3,"Fri, Nov 17, 2023",8:00p,REG,Valparaiso,MVC,-8.25,W,87,64,3,1,True,1,0
4,"Sun, Nov 19, 2023",8:00p,REG,Southern,SWAC,-8.74,W,88,60,4,1,True,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,"Sun, Mar 17, 2024",3:30p,CTOURN,Wisconsin,Big Ten,16.01,W,93,87,26,8,False,4,0
74,"Thu, Mar 21, 2024",3:10p,NCAA,Morehead State,OVC,0.51,W,85,69,27,8,False,5,0
75,"Sat, Mar 23, 2024",8:40p,NCAA,Duquesne,A-10,7.35,W,89,63,28,8,False,6,0
76,"Thu, Mar 28, 2024",10:09p,NCAA,Iowa State(8),Big 12,22.30,W,72,69,29,8,False,7,0
77,"Sat, Mar 30, 2024",6:09p,NCAA,Connecticut(1),Big East,26.70,L,52,77,29,9,False,0,1